<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{TARGET_NAME}</title>
</head><body>
    <center>
        <h1>{TARGET_NAME}</h1>
    </center>
    <script>
        const global_fetch = fetch;
        const WASMS = {};

        function mount_wasm_base64(name, base64) {
            WASMS[name] = base64;
        }

        function launch_wasm(name) {
            function fetch(url, options) {
                const wasm = WASMS[url];
                if (wasm === undefined) return global_fetch(url, options);

                console.assert(url === name);
                var binary = atob(wasm);
                var typedarray = new Uint8Array(binary.length);
                for (var i=0; i<binary.length; ++i) { typedarray[i] = binary.charCodeAt(i); }
                var body = new Blob([typedarray], { type: "application/wasm" });
                var response = new Response(body, { status: 200, statusText: "OK" });
                return Promise.resolve(response);
            }

            {PACKAGE_JS}
        }
    </script>
    <script>
        mount_wasm_base64("{TARGET_NAME}.wasm", "{BASE64_WASM32}");
        launch_wasm("{TARGET_NAME}.wasm");
    </script>
</body></html>
