<html><head>
    <title>{CRATE_NAME}</title>
    <style>
    </style>
</head><body>
    <center>
        <h1>{CRATE_NAME}</h1>
        <code id="console"><span id="cursor"> </span></code>
    </center>
    <script>
        async function exec_wasm(base64) {
            {PACKAGE_JS}

            var binary = atob(base64);
            var typedarray = new Uint8Array(binary.length);
            for (var i=0; i<binary.length; ++i) { typedarray[i] = binary.charCodeAt(i); }
            var body = new Blob([typedarray], { type: "application/wasm" });
            var response = new Response(body, { status: 200, statusText: "OK" });
            await wasm_bindgen(response);
        }

        exec_wasm("{BASE64_WASM32}");
    </script>
</body></html>
