*[data-cargo-html-palette="vga"] {
    background-color:               var(--cargo-html-console-color-0);
    /* Default VGA Colors: https://en.wikipedia.org/wiki/ANSI_escape_code#3-bit_and_4-bit */
    --cargo-html-console-color-0:   #000;
    --cargo-html-console-color-1:   #A00;
    --cargo-html-console-color-2:   #0A0;
    --cargo-html-console-color-3:   #A50;
    --cargo-html-console-color-4:   #00A;
    --cargo-html-console-color-5:   #A0A;
    --cargo-html-console-color-6:   #0AA;
    --cargo-html-console-color-7:   #AAA;
    --cargo-html-console-color-8:   #555;
    --cargo-html-console-color-9:   #F55;
    --cargo-html-console-color-10:  #5F5;
    --cargo-html-console-color-11:  #FF5;
    --cargo-html-console-color-12:  #55F;
    --cargo-html-console-color-13:  #F5F;
    --cargo-html-console-color-14:  #5FF;
    --cargo-html-console-color-15:  #FFF;
    color:                          var(--cargo-html-console-color-15);
}

*[data-cargo-html-palette="monochrome-amber"] {
    background-color:               var(--cargo-html-console-color-0);

    --cargo-html-console-color-0:   #111111;
    --cargo-html-console-color-1:   #d86602;
    --cargo-html-console-color-15:  #ffc400;

    --cargo-html-console-color-2:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-3:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-4:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-5:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-6:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-7:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-8:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-9:   var(--cargo-html-console-color-1);
    --cargo-html-console-color-10:  var(--cargo-html-console-color-1);
    --cargo-html-console-color-11:  var(--cargo-html-console-color-1);
    --cargo-html-console-color-12:  var(--cargo-html-console-color-1);
    --cargo-html-console-color-13:  var(--cargo-html-console-color-1);
    --cargo-html-console-color-14:  var(--cargo-html-console-color-1);

    color:                          var(--cargo-html-console-color-15);
}


*[data-cargo-html-palette^="monochrome-"] :is(.fg0.bg15, .fg15.bg0) {
    text-shadow:
        var(--cargo-html-console-color-1)  0.5px  0.5px 0.5px,
        var(--cargo-html-console-color-1)  0.5px -0.5px 0.5px,
        var(--cargo-html-console-color-1) -0.5px  0.5px 0.5px,
        var(--cargo-html-console-color-1) -0.5px -0.5px 0.5px;
}

:where(*[data-cargo-html-palette]) a {
    color: inherit;
}

#cargo-html-console {
    display:            flex;
    flex-direction:     column;
    color:              var(--cargo-html-console-color-15);
    background-color:   var(--cargo-html-console-color-0);
}

#cargo-html-console .output {
    flex:               1 1 0;
    white-space:        pre-wrap;
    overflow-y:         auto;
}

#cargo-html-console .output::-webkit-scrollbar {
    background:         var(--cargo-html-console-color-0);
    width:              10px;
}

#cargo-html-console .output::-webkit-scrollbar-thumb {
    background:     var(--cargo-html-console-color-7);
    border-radius:  5px;
}

#cargo-html-console .footer {
    flex:               0 0 auto;
    display:            flex;
}

#cargo-html-console .footer :is(textarea, input[type="text"]) {
    flex:               1 1 0;
    border:             none;
    border-radius:      0.3em;
    margin-right:       0.5ch;
    outline:            none;
}

#cargo-html-console .footer :is(button, input[type="submit"]) {
    flex:               0 0 auto;
    border:             none;
    border-radius:      0.3em;
    outline:            none;
}

@keyframes blink {
    0%      { opacity: 60%; }
    50%     { opacity: 40%; }
    100%    { opacity: 60%; }
}

#cargo-html-console-input {
    opacity:            70%;
    text-decoration:    underline;
}

#cargo-html-console .default.stdout     {}
#cargo-html-console .default.stderr     { color: var(--cargo-html-console-color-9); text-shadow: none; }
#cargo-html-console .default.exit-ok    { color: var(--cargo-html-console-color-8); text-shadow: none; }
#cargo-html-console .default.exit-error { color: var(--cargo-html-console-color-1); text-shadow: none; }

#cargo-html-console .cursor {
    animation:      blink 800ms step-start infinite;

    /* https://stackoverflow.com/a/4407335 */
    -webkit-touch-callout:  none; /* iOS Safari */
    -webkit-user-select:    none; /* Safari */
    -khtml-user-select:     none; /* Konqueror HTML */
    -moz-user-select:       none; /* Old versions of Firefox */
    -ms-user-select:        none; /* Internet Explorer, Old versions of Edge */
    user-select:            none; /* Chrome, Edge, Opera, FireFox */
}

.fg0  { color: var(--cargo-html-console-color-0); }
.fg1  { color: var(--cargo-html-console-color-1); }
.fg2  { color: var(--cargo-html-console-color-2); }
.fg3  { color: var(--cargo-html-console-color-3); }
.fg4  { color: var(--cargo-html-console-color-4); }
.fg5  { color: var(--cargo-html-console-color-5); }
.fg6  { color: var(--cargo-html-console-color-6); }
.fg7  { color: var(--cargo-html-console-color-7); }
.fg8  { color: var(--cargo-html-console-color-8); }
.fg9  { color: var(--cargo-html-console-color-9); }
.fg10 { color: var(--cargo-html-console-color-10); }
.fg11 { color: var(--cargo-html-console-color-11); }
.fg12 { color: var(--cargo-html-console-color-12); }
.fg13 { color: var(--cargo-html-console-color-13); }
.fg14 { color: var(--cargo-html-console-color-14); }
.fg15 { color: var(--cargo-html-console-color-15); }

.bg0  { background-color: var(--cargo-html-console-color-0); }
.bg1  { background-color: var(--cargo-html-console-color-1); }
.bg2  { background-color: var(--cargo-html-console-color-2); }
.bg3  { background-color: var(--cargo-html-console-color-3); }
.bg4  { background-color: var(--cargo-html-console-color-4); }
.bg5  { background-color: var(--cargo-html-console-color-5); }
.bg6  { background-color: var(--cargo-html-console-color-6); }
.bg7  { background-color: var(--cargo-html-console-color-7); }
.bg8  { background-color: var(--cargo-html-console-color-8); }
.bg9  { background-color: var(--cargo-html-console-color-9); }
.bg10 { background-color: var(--cargo-html-console-color-10); }
.bg11 { background-color: var(--cargo-html-console-color-11); }
.bg12 { background-color: var(--cargo-html-console-color-12); }
.bg13 { background-color: var(--cargo-html-console-color-13); }
.bg14 { background-color: var(--cargo-html-console-color-14); }
.bg15 { background-color: var(--cargo-html-console-color-15); }
